
body{
    margin:0px 50px;
   color: rgb(101, 38, 248);
   background: rgb(194, 246, 247);
   letter-spacing: 0.6px;
   
}
header{
    margin-top: 20px;
    color:rgb(15, 6, 6);
    text-align: center;
    height: 50px;
}
.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.content h3{
    margin: 30px;
}
label{
    color: #4cb74c;
    font-size: 18px;
}
input{
margin:7px 0px 25px 0px;
width: 300px;
    padding: 5px;
    border: 2px solid red;
    border-radius: 5px;
    color: green;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

button{
    padding: 10px;
    margin-left:0px;
    background:greenyellow;
    color: antiquewhite;
    border:3px solid red;
    border-radius:5px;
    font-weight: 700;
    font-size: x-large;
}

.result{

    margin: 30px;
    border-radius: 8px;
    height: 65px;
}

.social {
    border-top: 1px solid #4cb74c;
    display: inline;
    cursor: pointer;
}
.social a{
    margin: 010px 50px;
    text-decoration: none;
    color: antiquewhite;
}
.reset{
    position: fixed;
    transform: scale(0.7);
    right: 0px;
    bottom: 40px;
}

.social{
    text-align: center;
}

.social a{
    color:var(--border-color);
    font-size: x-large;
}
.social ul{
    list-style: none;
}
.social ul li{
    display: inline-block;
    padding: 0.5rem 0.75rem;
}
.social a:hover{
    cursor: pointer;
    color: var(--primary-color);
}
